meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="google-signin-scope" content="profile email")
meta(name="google-signin-client_id" content="43316205783-prkqfdtjqbto20j0he77gq6sv45ejf7v.apps.googleusercontent.com")
script(src="https://apis.google.com/js/platform.js" async defer)
link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
script(src='/jquery/dist/jquery.js')
link(href="/bootstrap/dist/css/bootstrap.css",rel="stylesheet")
script(src="/bootstrap/dist/js/bootstrap.js")
script(src='/js/js.cookie.js')
script(src="/socket.io/socket.io.js")
script(src='/js/CommentCoreLibrary.js')
link(href="/css/danmuplayer.css",rel="stylesheet")
link(href="/font-awesome/css/font-awesome.css" rel="stylesheet")
script(src="//cdn.bootcss.com/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.js")
link(href="//cdn.bootcss.com/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.css" rel="stylesheet")
style.
  * {font-family: 'Open Sans', sans-serif, Cochin;}
