extends ../layout
block style
  style.
    .err{color:red;}
    .whisper{color:green;}
    body {padding-left: calc(100vw - 100%);} 
block content
  .container
    .row
      .col-md-7
        .input-group
          span 排序方式：
          select.rank
            option(value="stow") 收藏
            option(value="review") 播放量
            option(value="review") 评论数
            option(value="promote") 硬币数
            option(value="comment") 用户评分
            option(value="damku") 弹幕数
        span 同时你可以选择需要原创视频排行榜时间
        .input-group.input-daterange.col-md-6(style="z-index:10000")
          input.startTime(type='text' class="form-control")
          span.input-group-addon 到：
          input.endTime(type='text' class="form-control")
          .input-group-btn
            button.btn.btn-default.submitRank 提交
        br
        .danmuPlayer(style="width:100%;background:#000;")
          video.player(style="width:100%;" data-setup="{}" autoplay="true")
            source(src="/videos/av4617369.mp4",type="video/mp4")
          .commentContent.containerOfDanmu
        
        .btn-group(role="group")
          button.btn.btn-default.VideoPlay(type="button") 播放
          button.btn.btn-default.VideoPause(type="button") 暂停
          button.btn.btn-default.VideoTime(type="button") 00:00

      .col-md-5
        ul.nav.nav-tabs
          li(class="active")
            a(href="#videoList" data-toggle="tab") 播放列表
          li(class="")
            a(href="#danmuList" data-toggle="tab") 弹幕列表
          li(class="")
            a(href="#userList" data-toggle="tab") 在线用户
        .tab-content
          .videolist(class="tab-pane active" id="videoList")
          .danmulist(class="tab-pane" id="danmuList")
            .dropdownUserlist
            .input-group
              span.input-group-addon.getname
              input.msg(type="text",class="form-control")
              .input-group-btn 
                button.btn.btn-default.sendmsg 发射
          .userlist(class="tab-pane" id="userList")
          
  script(src="/js/fmplayer.js") 
